* {
  padding: 0;
  margin: 0;
}

* p {
  font-size: large;
}

body {
  background-image: url(/Images/annie-spratt-YKBoscpkYwY-unsplash.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.huvud {
  position: sticky;
  top: 0;
  width: 100%;
  height: 85px;
  background-image: linear-gradient(
    to top,
    rgba(169, 189, 158, 0.123),
    rgba(101, 153, 68, 0.863)
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

nav {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-left: -2em;
}

#darkmode {
  width: 5%;

  margin-left: -5em;
  justify-self: left;
  cursor: pointer;
}

.meny {
  margin-left: 0.3em;
  font-size: 2em;
  padding: 0.5em;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.meny-länk {
  margin-left: 2em;
  color: black;
  padding: 0.5em;
  border-radius: 15px;
}

.meny-länk:hover {
  background-image: linear-gradient(
    to top,
    rgba(103, 151, 88, 0.411),
    rgba(63, 121, 25, 0.801)
  );
}

/* SIDHUVUD OCH MENY */

.dark {
  background-image: url(/Images/annie-spratt-YKBoscpkYwY-unsplash.jpg);
  background-color: rgba(0, 0, 0, 0.438);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: repeat-x;
  background-size: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.darkHead {
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(169, 189, 158, 0.027),
    rgba(0, 0, 0, 0.863)
  );
  position: sticky;
  top: 0;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}

.darkNav {
  display: flex;
}

.darkMeny {
  font-size: 1em;
  padding-left: 3.2em;
  width: 97.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.darkModeText {
  color: rgb(252, 252, 252);
  padding: 0.5em;
  border-radius: 15px;
  margin-left: 2em;
}

/* DARK MODE */
.container {
  display: flex;

  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  align-items: center;

  width: 80%;

  gap: 3em;
}

.omMig {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(226, 218, 218, 0.932);
  gap: 3em;
  padding: 3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 30px;

  flex: 0.8;
}

.bildOlle {
  display: flex;
  justify-content: flex-end;
  flex: 0.8;
}

.Olle {
  border-radius: 50%;

  border: 8px solid rgba(226, 218, 218, 0.521);
  max-width: 80%;
}

.darkParagraf {
  background-color: rgba(7, 7, 7, 0.712);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3em;
  padding: 3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 30px;
  flex: 0.8;
}

/* STARTSIDA */

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.kontakt {
  padding-top: 5em;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex: 1;
}

.formulär {
  flex: 0.2;
  background-color: rgba(226, 218, 218, 0.932);
  border-radius: 10px;
  margin-top: 5%;
  height: fit-content;
}

form {
  padding: 1.5em;
}

.input-namn {
  width: 95%;
  background: url(/Images/icons8-person-20.png) no-repeat scroll 98% 8px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
}

.input-email {
  width: 95%;
  margin-top: 1em;
  background: url(/Images/icons8-email-20.png) no-repeat scroll 98%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
}

.input-email:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(88, 180, 95, 0.603);
  background: url(/Images/icons8-email-20-green.png) no-repeat scroll 98% 8px;
  background-color: white;
}

.input-namn:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(88, 180, 95, 0.603);
  background: url(/Images/icons8-person-20-green.png) no-repeat scroll 98% 8px;
  background-color: white;
}

.knapp {
  margin-top: 5%;
  appearance: none;
  padding: 10px;
  border: none;
  background-color: #030303e3;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.knapp:hover {
  box-shadow: 0 0 10px 6px rgba(88, 180, 95, 0.603);
  color: green;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
  background-color: white;
}

select:focus {
  box-shadow: 0 0 15px 4px rgba(88, 180, 95, 0.603);
}

textarea {
  margin-top: 2em;
  margin-bottom: 2em;
  resize: none;
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(102, 105, 104, 0.603);
}

textarea:focus {
  box-shadow: 0 0 15px 4px rgba(88, 180, 95, 0.603);
  outline: none;
}

.kontakt {
  text-align: center;
  padding: 0;
}

/* KONTAKT */

.projekt-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projekt-preview {
  padding-top: 3em;
  padding-left: 5em;
  display: flex;
  width: 80%;
  gap: 2em;
  flex-direction: row;
  align-items: center;
}

#comingSoon {
  width: 90%;
  height: 100%;
  filter: blur(10px);
  margin-bottom: 10em;
}

#comingSoon2 {
  width: 90%;
  height: 100%;
  filter: blur(10px);
  margin-bottom: 10em;
}

.projekt-item {
  position: relative;
  display: flex;
  flex: 1;
}

.projekt1text {
  color: white;
  position: absolute;
  top: 48%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.projekt2text {
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.comingSoonText {
  color: white;
  position: absolute;
  top: 48%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.display-img1 {
  width: 90%;
  height: 100%;
  -webkit-animation: 0.2s linear forwards go-back;
  -moz-animation: 0.2s linear forwards go-back;
  -o-animation: 0.2s linear backwards go-back;
  animation: 0.2s linear forwards go-back;
}

.display-img2 {
  width: 90%;
  height: 100%;
  -webkit-animation: 0.2s linear forwards go-back;
  -moz-animation: 0.2s linear forwards go-back;
  -o-animation: 0.2s linear backwards go-back;
  animation: 0.2s linear forwards go-back;
}

.display-img1:hover {
  -webkit-animation: 0.5s linear forwards reveal;
  -moz-animation: 0.5s linear forwards reveal;
  -o-animation: 0.5s linear backwards reveal;
  animation: 0.5s linear forwards reveal;
}

.display-img2:hover {
  -webkit-animation: 0.5s linear forwards reveal;
  -moz-animation: 0.5s linear forwards reveal;
  -o-animation: 0.5s linear forwards reveal;
  animation: 0.5s linear forwards reveal;
}
.wrapper {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@-moz-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@-o-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}
@keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(1px);
  }
}

@-webkit-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@-moz-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@-o-keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}
@keyframes go-back {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(5px);
  }
}

/*
   * Landningssida för mina projekt, preview för alla projekt med blurrad bild samt text på.
   */

#git-link {
  text-decoration: underline;
}

#caesar1 {
  padding-top: 2em;
  width: 85%;
}

#caesar2 {
  width: 85%;
}

#Elin-och-Marcus {
  padding: 2em;
  width: 80%;
}

.projekt-display {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.proj1paragraf1 {
  background-color: rgba(226, 218, 218, 0.932);
  padding: 1.5em;
  border-radius: 30px;
  margin-bottom: 1em;
  text-align: center;
}

.proj1paragraf {
  background-color: rgba(226, 218, 218, 0.932);
  padding: 1.5em;
  border-radius: 30px;
  margin-bottom: 5em;
  text-align: center;
}

.proj2paragraf {
  background-color: rgba(226, 218, 218, 0.932);
  padding: 1.5em;
  border-radius: 30px;
  margin-bottom: 10em;
  text-align: center;
}

/* PROJEKT */

.fot {
  position: fixed;

  bottom: 0;
  width: 100%;
  height: 85px;
  background-image: linear-gradient(
    to bottom,
    rgba(169, 189, 158, 0.068),
    rgba(101, 153, 68, 0.863)
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.darkFoot {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(169, 189, 158, 0.027),
    rgba(0, 0, 0, 0.863)
  );

  position: fixed;
  bottom: 0;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ikoner {
  width: 55%;
  padding-top: 0.5em;
  display: flex;
  padding-left: 1em;

  gap: 2em;
}

.facebook {
  background-image: url(/Images/icons8-facebook-60\(1\).png);
  background-repeat: no-repeat;
  width: 5.5%;
}

.instagram {
  background-image: url(/Images/icons8-instagram-60.png);
  background-repeat: no-repeat;
  width: 5.2%;
}

.linkedin {
  background-image: url(/Images/icons8-linkedin-60.png);
  background-repeat: no-repeat;
  width: 5.5%;
}

.darkFb {
  background-image: url(/Images/icons8-facebook-60-white.png);
  background-repeat: no-repeat;
  width: 5.5%;
}

.darkInsta {
  background-image: url(/Images/icons8-instagram-60-white.png);
  background-repeat: no-repeat;
  width: 5.2%;
}

.darkLinkedIn {
  background-image: url(/Images/icons8-linkedin-60-white.png);
  background-repeat: no-repeat;
  width: 5.5%;
}

.cat {
  width: 45%;
  transform: rotate(-40deg) translateX(85%) translateY(345%);
  -webkit-animation: 0.2s ease-in forwards döljKatt;
  -moz-animation: 0.2s ease-in forwards döljKatt;
  -o-animation: 0.2s ease-in forwards döljKatt;
  animation: 0.2s ease-in forwards döljKatt;
}

.cat:hover {
  -webkit-animation: 1s ease-out forwards visaKatt;
  -moz-animation: 1s ease-out forwards visaKatt;
  -o-animation: 1s ease-out forwards visaKatt;
  animation: 1s ease-out forwards visaKatt;
}

@-webkit-keyframes visaKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
}
@-moz-keyframes visaKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
}
@-o-keyframes visaKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
}
@keyframes visaKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
}

@-webkit-keyframes döljKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
}

@-moz-keyframes döljKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
}
@-o-keyframes döljKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
}
@keyframes döljKatt {
  from {
    transform: rotate(-40deg) translateX(80%) translateY(225%);
  }
  to {
    transform: rotate(-40deg) translateX(80%) translateY(345%);
  }
}

/* SIDFOT */
